//-----------MEDIA QUERIES-------------//

//-----------INDEX----------//

@media screen and (max-width: 900px) {
  .main-index {
    .section1 {
      height: calc(100vh - 71px);
    }
    .section2-productos {
      width: 100%;
      .titulo-productos {
        h2 {
          font-size: 30px;
        }
      }
      .ofertas-productos {
        flex-direction: column;
        align-items: center;
        width: 90%;
        .card-productos {
          width: 60%;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main-index {
    .section2-productos {
      width: 100%;
      .titulo-productos {
        h2 {
          font-size: 25px;
        }
      }
      .ofertas-productos {
        flex-direction: column;
        align-items: center;
        width: 90%;
        .card-productos {
          width: 90%;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

//----------- FIN INDEX ----------- //

// --------- SOBRE NOSOTROS ---------//

@media screen and (max-width: 800px) {
  .main-sobrenos {
    .seccion1 {
      .contenedor-textos {
        p {
          padding: 10px;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .main-sobrenos {
      .section2 {
        height: 120vh;
        .contenedor-comentarios {
          .items-comentarios {
            iframe {
              width: 400px;
              height: 400px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    .main-sobrenos {
      .section2 {
        .contenedor-comentarios {
          .items-comentarios {
            iframe {
              width: 290px;
            }
          }
        }
      }
    }
  }
}

// ----------- FIN SOBRE NOSOTROS -----------//

// --------- PREGUNTAS FRECUENTES ---------- //

@media screen and (max-width: 850px) {
  .main-preguntas {
    .contenedor-img-texto {
      display: flex;
      flex-direction: column;
      img {
        width: 50%;
      }
      .texto-preguntas {
        width: 90%;
      }
    }
    .accordion {
      .accordion-item {
        display: block;

        .accordion-header {
          .accordion-button {
            width: auto;
          }
        }
      }
    }
  }
}

//--------------- FIN PREGUNTAS -------------//

//------------CONTACTO-----------//

@media screen and (max-width: 800px) {
    .main-contactanos{
        p{
            padding:20px;
            text-align: justify;
        }
    .contenedor-form {
    form {
      input[type="text"]{
        width: 80%;
      }
      input[type="email"]{
        width: 80%;
      }

      input[type="submit"] {
        width: 80%;
      }

      textarea {
        width: 80%;
      }
    }
  }
}
}



//---------PRODUCTOS----------//

@media screen and (max-width:1200px) {


    .main-productos{
    .section2-productos{
        .ofertas-productos {
            .card-productos {
                width: 40%;
            }
        }
    }
}}

@media screen and (max-width:580px) {
    .main-productos{
        .section2-productos{
            .ofertas-productos {
                .card-productos {
                    width: 80%;
                }
            }
        }
    }}