*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Hind Siliguri", sans-serif;
  width: 100%;
  /*WARNING*/
  display: flex;
  flex-direction: column;
}



// ------------- ANIDACION -------------//

@import 'header'; //HEADER

@import 'main-index'; // INDEX MAIN

@import 'footer'; //FOOTER

@import 'sobrenos' ;// PAGINA SOBRE NOSOTROS

@import 'productos' ; // PAGINA PRODUCTOS

@import 'contacto' ; // PAGINA CONTACTO

@import 'preguntasfrec' // PAGINA PREGUNTAS
