* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;

}

:root {
    --color-lila: #6930C3;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    width: 100%;
    /*WARNING*/
    display: flex;
    flex-direction: column;
}

.section1{
    height: 100vh;
    overflow: hidden;
}



/* COMIENZO DEL HEADER */
.nav-item{
    padding: 20px;
}

.nav-link{
    font-size: 18px;
}

.navbar-brand{
    font-size: 30px;
    font-weight: 600;
}
/* FIN HEADER */

/* COMIENZO MAIN */
.main-index {
    /* height: calc(100vh - 150px); */
    width: 100%;
    background-color: black;
}



.contenedor-imagenes div img {
    object-fit: cover;
    width: 100%;
    height: 95vh;
    filter: blur(4px);
    position: sticky;
    overflow: hidden;
}

.wave {
    position: absolute;
    bottom: 0px;
    left: 0px;
    filter: blur(.4px);
}

.contenedor-textos {
    height: 80%;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.contenedor-textos h1 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 5px;
}

.contenedor-textos p {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 5px 40px;
    margin: 5px 60px;
}

/* COMIENZO SEGUNDA SECCION OFERTAS */
.section2 {
    background-color: #ffffff;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #6930C3;
    align-items: center;
}

.titulo-seccion {
    width: 100%;
    /* height: 100px; */
    text-align: center;
}

.ofertas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 50vh;
    width: 80%;

}

.card {
    margin-top: 20px;
    border-radius: 10px;
    width: 23%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.096);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
    justify-content: center;
    align-items: center;

}
.card:hover{
    scale: 1.1;
}

.imagen-card {
    width: 100%;
    height: 50%;
}

.imagen-card img {
    width: 100%;
    object-fit: contain;
}

.textos-card {
    text-align: center;
}

.card button {
    width: 60%;
    height: 7%;
    color: #ffffff;
    background-color: var(--color-lila);
    border-radius: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.418);
    border-bottom: 1px solid rgba(0, 0, 0, 0.452);
    border-left: 2px solid rgba(0, 0, 0, 0.479);
    border-right: 2px solid rgba(0, 0, 0, 0.411);
    display: flex;
    font-size: 1em;
    letter-spacing: 1.3px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}


/* FIN OFERTAS */


/* COMIENZO FOOTER */
.footer {
    display: flex;
    height: 20vh;
    width: 100%;
    background-color: #212529;
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0px;
}

.iconos a img{
    padding: 40px;
}




/* ----------------------MEDIA QUERIES---------------------- */



@media screen and (max-width: 1250px) {
    .contenedor-iconos {
        justify-content: left;
        padding-left: 20px;
    }

    .section2 {
        height: auto;
    }

    .ofertas {
        flex-wrap: wrap;
    }

    .card-ofertas {
        width: 60%;

    }

    .contenedor-lista {
        padding-left: 0px;
    }
}

@media screen and (max-width: 900px) {
    .contenedor-header {
        flex-direction: column-reverse;
    }

    .contenedor-lista {
        padding-top: 15px;
        width: 100%;
        height: 40%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contenedor-lista a {
        font-weight: 400;
        text-align: justify;
    }

    .contenedor-iconos {
        justify-content: center;
        padding-left: 0;
        width: 100%;
        height: 50%;
    }

    .contenedor-iconos img {
        height: 40px;
        padding-right: 0;
    }
    .section2{
        height: 80vh;
    }
    .ofertas{
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .contenedor-header {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .contenedor-lista {

        padding: 0;
        width: 90%;
        height: 100%;
        /* align-items: center; */
    }

    .contenedor-iconos {
        flex-direction: column;
        width: 10%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .ofertas {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .card {
        width: 80%;
        margin: 20px 0px;
    }

    .imagen-card {
        display: flex;
        justify-content: center;
    }

    .imagen-card img {
        width: 60%;
    }

}

@media screen and (max-width: 560px) {

    .main-index {
        /* height: calc(100vh - 230px); */
        width: 100%;
        background-color: black;
    }

    .main-sobrenos {
        width: 100%;
        background-color: black;
    }

    .mapa{
        width: 300px;
    }
    .contenedor-imagenes div img {

        height: calc(100vh - 230px);
    }

    .contenedor-textos h1 {
        font-size: 45px;
    }

    .contenedor-textos p {
        font-size: 20px;
        margin: 20px 20px;
        padding: 0px;
    }

    .iconos a {
        padding: 10px;
    }
}


@media screen and (max-width: 400px) {
    .mapa{
        width: 250px;
    }
}
/* ---------------------------SECCION SOBRE NOSOTROS--------------------------- */
/* ---------------------------SECCION SOBRE NOSOTROS--------------------------- */
/* ---------------------------SECCION SOBRE NOSOTROS--------------------------- */
/* ---------------------------SECCION SOBRE NOSOTROS--------------------------- */
/* ---------------------------SECCION SOBRE NOSOTROS--------------------------- */
/* ---------------------------SECCION SOBRE NOSOTROS--------------------------- */
/* ---------------------------SECCION SOBRE NOSOTROS--------------------------- */
/* ---------------------------SECCION SOBRE NOSOTROS--------------------------- */


.main-sobrenos {
    /* height: calc(100vh - 150px); */
    background-color: black;
}


.main-sobrenos .contenedor-imagenes div img {
    object-fit: cover;
    width: 100%;
    /* height: calc(100vh - 150px); */
    filter: blur(4px);
    position: sticky;
    background-color: black;
}

.main-sobrenos section .section2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contenedor-mapa {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}



.contenedor-comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
}

.contenedor-comentarios h3 {
    text-align: center;
    font-weight: 600;
    padding: 20px;
}

.contenedor-comentarios p {
    padding: 0 30px;
}

/* ------------------PAGINA PRODUCTOS-------------------- */
/* ------------------PAGINA PRODUCTOS-------------------- */
/* ------------------PAGINA PRODUCTOS-------------------- */
/* ------------------PAGINA PRODUCTOS-------------------- */
/* ------------------PAGINA PRODUCTOS-------------------- */
/* ------------------PAGINA PRODUCTOS-------------------- */
/* ------------------PAGINA PRODUCTOS-------------------- */
.section2-productos{
    background-color: #ffffff;

    width: 100%;
    display: flex;
    color: #6930C3;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.ofertas-productos{
    display: flex;

    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}
.card-productos{
    width: 28%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: -2px -3px 14px 2px rgba(0, 0, 0, 0.075);
    border-radius: 51px 7px 7px 7px;
}

.textos-card h3{
    font-size: 22px;
    font-weight: 700 ;
}

/* BOTON CARD */

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #6930C3;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .contenedor-boton{
    border-top: 1px solid rgba(0, 0, 0, 0.137);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

/* BOTON CARD FIN */



/* --------------MEDIA QUERIES PRODUCTOS------------- */

@media screen and (max-width:1200px ) {
    .ofertas-productos{
        width: 90%;
    }
    

}

@media screen and (max-width:900px ) {
    .ofertas-productos{
        width: 100%;
    }
    .card-productos{
        width: 40%;
    }

}

@media screen and (max-width:500px ) {
    .card-productos{
        width: 80%;
    }
    .textos-card h3{
        font-size: 18px;
        font-weight: 700 ;
    }
    
}



/* ----------------------CONTACTO---------------------- */
/* ----------------------CONTACTO---------------------- */
/* ----------------------CONTACTO---------------------- */
/* ----------------------CONTACTO---------------------- */
/* ----------------------CONTACTO---------------------- */
/* ----------------------CONTACTO---------------------- */
/* ----------------------CONTACTO---------------------- */

.main-contactanos{
    height: calc(80vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    color: #6930C3;
}
.contenedor-form{
    width: 50%;
    height: 60%;
}

input[type= "text"] , input[type = "email"]{
    width: 48%;
    height: 40px;
    margin: 10px 5px;
    border: 1px solid white;
    background-color: #6930C3;
    padding: 15px;
    color: white;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
}

input[type="submit"]{
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    background-color: #6930C3;
    color: #ffffff;
    border: 1px solid white;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
textarea{
    padding: 15px;
    width: 100%;
    height: 200px;
    border: 1px solid white;
    background-color: #6930C3;
    color: white;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 1200px ) {
    .contenedor-form{
        width: 60%;
        height: 60%;
    }
}

@media screen and (max-width: 990px ) {
    .contenedor-form{
        width: 75%;
        height: 60%;
    }
    .main-contactanos p{
        padding: 0 50px;
    }
}

@media screen and (max-width: 790px ) {
    .contenedor-form{
        width: 100%;
        height: 60%;
        margin: 0 20px;
    }
}

@media screen and (max-width: 690px ) {
    .contenedor-form form :nth-child(1){
        width: 90%;
        padding: 0;
        margin: 0 20px;
        margin-top: 10px;
    }
    .contenedor-form form :nth-child(2){
        width: 90%;
        padding: 0;
        margin: 0 20px;
        margin-top: 10px;
    }
    .contenedor-form form :nth-child(3){
        width: 90%;
        padding: 0;
        margin: 0 20px;
        margin-top: 10px;
    }
    .contenedor-form form :nth-child(4){
        width: 90%;
        padding: 0;
        margin: 0 20px;
        margin-top: 10px;
    }
    .main-contactanos p {
        padding: 0 10;
      }
}




/* -----------------PREGUNTAS FRECUENTES---------------- */
/* -----------------PREGUNTAS FRECUENTES---------------- */
/* -----------------PREGUNTAS FRECUENTES---------------- */
/* -----------------PREGUNTAS FRECUENTES---------------- */
/* -----------------PREGUNTAS FRECUENTES---------------- */
/* -----------------PREGUNTAS FRECUENTES---------------- */
/* -----------------PREGUNTAS FRECUENTES---------------- */
/* -----------------PREGUNTAS FRECUENTES---------------- */


.contenedor-img-texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 60px;
}
.main-preguntas .contenedor-img-texto img {
    width: 20%;
}
.texto-preguntas{
    width: 30%;
    padding: 40px;
    text-align: justify;
    font-size: 20px;
    color: #6930C3;
}

.accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion-item{
    width: 80%;
    display: flex;
    margin: 10px;
    
}


.accordion-button{
    color: #6930C3;
    padding: 20px 30px;
    border: 1px solid #6930C3;
    width: 400px;
    
}


@media screen and (max-width: 1000px){
    .accordion-item{
        display: block;
    }
}

@media screen and (max-width: 850px){
    .contenedor-img-texto{
        display: flex;
        flex-direction: column;
    }
    .main-preguntas .contenedor-img-texto img {
        width: 50%;
    }
    .texto-preguntas{
        width: 90%;
}
}
@media screen and (max-width: 600px) {
    .contenedor-preguntas{
        height: auto;
    }
    .contenedor-img-texto img{
        width: 70%;
        height: 35vh;
    }
    .accordion{
        margin-bottom: 20px;
    }
    .accordion-button{
        border: none;
        width: auto;
    }
    .accordion-item{
        margin: 0px;
    }
    .iconos a img{
        padding: 10px;
    }
}